@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

.header {
  margin-bottom: 0.5rem;
  /* padding-bottom: 1rem; */
  /* border-bottom: 3px solid #1e4b74; */
}

h1 {
   font-family: 'SEGA LOGO FONT', Fallback, serif;
   font-weight: 200;
   color: rgb(0, 82, 167);
}

/* .robobody {
  border: 1px solid #1e4b74;
  margin: 1rem;
  padding: 2rem;
} */
